<h2>Nearest Station</h2>

<%= @station.name %>
Address: <%= @station.address %>
Fuel Type: <%= @station.fuel_type %>
Access Times: <%= @station.access_times %>
Distance: <%= @station.distance %>
Travel Time: 
Directions: 